@import url('styles_variables.css');

#categoriesContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 28px;/*espacio entre los items de la matriz*/
    place-content: center;
    background-color: var( --backgroundColor);
    padding: 1%;
}
.categoryCard{
    width: auto;
    padding: 3%;
    border-radius: 16px;
    background-color: var(--cardPrimaryColor);
}

.categoryCard img{
    width: 100%;
    height: 200px;
    border-radius: 16px;
    object-fit: cover;/*que la imagen ocupe todo el espacio disponible*/
}

.categoryCard p {
    color: var(--titlePrimaryColor);
    text-align: center;
    font-weight: bold;
    font-size: var(--textBigSize);
}