{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/categories.css' ) }}">
<div style="width: 100%; height: 50px; background-color: red; margin-bottom: 10px;"></div>




<div id="categoriesContainer">
       {% for category in data['categories']%}
       <div class="categoryCard">
            <img src="{{category['image']}}" alt="">
            <p id="categoryName">{{category['name']}}</p>
        </div>
       {% endfor %}
</div>


{% endblock %}
